
.box span {
  display: none;
  position: absolute;
  bottom:0;
  width:40%;
  overflow: hidden;
  height:50px;
  left:10px;
  top:10px;
  padding: 10px;
  background: black;
  overflow: scroll;
  z-index: 999;
  font-family: 'Poppins';
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
  color: white;
}

.box:hover span {
  display: block
}

.box:hover
{ -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black }

#nav
{background-color: white;
 text-align: center;
 border-style: dotted dashed solid double;
 padding: 10px;
 position: fixed;
 width: 30%;
 height: auto;
 margin-left: 35%;
 margin-top: 2.5%;
 margin-right:35%;
 list-style: none;}

#container
{
  width: 100%;
  overflow: hidden;
  height: 100%;
}

#info
{
    width:500px;
    text-align: left;
    margin-left: 29%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-right: 29%;
    box-shadow:5px 6px 5px pink;
    background-color: white;
    border: 1px solid black;
    padding: 45px;
    display: inline-block;
}

html,body {
    height:100%;
}


#draggable {height: auto;
padding: 20px;
background-color: white;
text-align: left;
color: black; }



.box {
      position: absolute;
      padding:10px;
      border:1px solid black;
      background-color:#fff;
      box-shadow:4px 4px 4px pink;
      width: 200px;
      cursor: default;
   }

h1 {
	font-family: 'Poppins';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h3 {
	font-family: 'Poppins';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
  text-align: center;
  text-decoration: none;
  color: black;
	font-weight: 500;
	line-height: 20px;
}

a {
  text-decoration: none;
  color: black;
}

#ref1
{color: red;}

#ref2
{color: red;}
#ref3
{color: red;}
#ref4
{color: red;}
#ref5
{color: red;}
#ref6
{color: red;}
#ref7
{color: red;}
#ref8
{color: red;}

.currentPage
{border-bottom: 1px solid;
color: black;}

li {
  margin: 0px 30px 0px 0px;
  display: inline-block;
  font-size: 12px;
  cursor: default;
}

p {
	font-family: 'Poppins';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
